section.modular-image-cards .image-cards {
	.image-card {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin: 3rem 0;

		&.layout-right {
			flex-direction: row-reverse;
		}

		.image-card-image, .image-card-content {
			width: 50%;

		}

		.image-card-image {
			img {
				width: 100%;
			}
		}

		.image-card-content {
			&.align-center {
				align-self: center;
			}

			&.align-start {
				align-self: start;
			}

			&.align-end {
				align-self: end;
			}

			&.text-center {
				text-align: center;
			}

			&.text-left {
				text-align: left;
			}

			&.text-right {
				text-align: right;
			}
		}

		h3 {
			margin-top: 0;
		}
	}
}